page-home {

  .header {
    background-color: rgba(5, 5, 10, 0.93);
    color: white;
  }

 .mainContent {
   background-color: rgba(5, 5, 10, 0.93);
   color: white;
 }

  .wrapper {
    height: 600px;
  }
  .listClass {
    height: 150px;
  }
  .bannerImg div {
    max-height: 250px;

  }
.bannerImg {

  margin:0;

}

  //ion-title {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  padding: 0 90px 1px;
  //  width: 100%;
  //  height: 100%;
  //  text-align: center;
  //}


}
